# Created by .ignore support plugin (hsz.mobi)
### C template
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
### C++ template
# Compiled Object files
*.slo
# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

.idea/
doc/
include.mk
lab-files/
data
lab1_1.1/hello
lab1_1.2/matherrors
lab1_1.2/runner.cpp
lab1_1.2/test_must_follow
lab1_1.5/vector_run15
.gitignore
hello1
insdel
inttest
itera
print_pairs
test2
weired
runner
runner.cpp
test_must_follow
cxxtests/example_test
matrix2
test1
